<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.demo.Dao.BorrowBookOrderDao">
	<!-- 查找允许借阅的所有图书 -->
	<select id="selectAllBooksAllowed" resultType="com.myapp.demo.Entiy.Book">
		select * from book_info where isAllowed = 1
	</select>
	
	<!-- 通过Id查询订单 -->
	<select id="selectOrderByOrderId" resultType="com.myapp.demo.Entiy.BorrowBookOrder">
		select * from book_borrow where BorrowId = #{BorrowId} 
	</select>
	
	<!-- 添加一条记录 -->
	<insert id="insertOneBorrowOrder" useGeneratedKeys="true" keyProperty="BorrowId">
		insert into book_borrow 
		(BorrowId,bookId,userId,outTime,returnTime,reason,realName,telephone,detail,status)
		values(#{BorrowId},#{bookId},#{userId},#{outTime},#{returnTime},#{reason},#{realName},#{telephone},#{detail},#{status})
	</insert>
	
	<!-- 根据userId和bookId查找一条记录，用于检测之前是否借过这本书 (并且订单状态还要是“待审核”或“已借出”，如果已结束那么代表已经还了或者被拒绝了，可以再借) -->
	<select id="isBorrowByYourself" resultType="com.myapp.demo.Entiy.BorrowBookOrder">
		select * from book_borrow where userId = #{userId} and bookId = #{bookId} and (status = '待审核'  or status = '已借出' )
	</select>
	
	<!-- 单纯更新订单的状态（审核ing、ed、finished） -->
	<update id="statusChange" parameterType="com.myapp.demo.Entiy.BorrowBookOrder">
		update book_borrow set 
		status = #{status}
		where BorrowId = #{BorrowId}
	</update>
	
	<!-- 根据状态查找订单 -->
	<select id="selectOrderByStatus" resultType="com.myapp.demo.Entiy.BorrowBookOrder">
		select * from book_borrow where status = #{status}
	</select>
	
	<!-- 根据userId查找订单） -->
	<select id="selectOrderByUserId" resultType="com.myapp.demo.Entiy.BorrowBookOrder">
		select * from book_borrow where userId = #{userId}
	</select>
	
	<!-- 根据userId和订单状态查找订单（查指定用户的订单用的） -->
	<select id="selectOrderByUserIdAndStatus" resultType="com.myapp.demo.Entiy.BorrowBookOrder">
		select * from book_borrow where userId = #{userId} and status = #{status}
	</select>
	
	<!-- 根据单位和订单状态查找订单（工作人员查看本单位的订单用的） -->
	<select id="selectOrderByUnitAndStatus" resultType="com.myapp.demo.Entiy.BorrowBookOrder">
		select * from book_borrow 
		inner join book_info on book_borrow.bookId = book_info.bookId
		where book_info.nowWhere = #{nowWhere} and book_borrow.status = #{status}
	</select>
	
	
</mapper>