<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.demo.Dao.FlowBookOrderDao">

	<!-- 根据bookId和unitName查找一条记录，用于检测之前是否流入这本书 (并且订单状态还要是“待审核”或“已借出”，如果已结束那么代表已经还了或者被拒绝了，可以再借) -->
	<select id="isRequested" resultType="com.myapp.demo.Entiy.FlowBookOrder">
		select * from book_flow where whichUnit = #{whichUnit} and bookId = #{bookId} and (status = '待审核'  or status = '已流出' )
	</select>
	
	<!-- 添加一条记录 -->
	<insert id="insertOneRequestOrder" useGeneratedKeys="true" keyProperty="flowId">
		insert into book_flow 
		(flowId,bookId,userId,whichUnit,outTime,returnTime,reason,realName,telephone,detail,status)
		values(#{flowId},#{bookId},#{userId},#{whichUnit},#{outTime},#{returnTime},#{reason},#{realName},#{telephone},#{detail},#{status})
	</insert>
	
	<!-- 根据单位名查询订单信息 -->
	<select id="selectOrderByWhichUnit" resultType="com.myapp.demo.Entiy.FlowBookOrder">
		select * from book_flow where whichUnit = #{whichUnit}
	</select>
	
	<!-- 根据单位名和订单状态查询订单信息 -->
	<select id="selectOrderByWhichUnitAndStatus" resultType="com.myapp.demo.Entiy.FlowBookOrder">
		select * from book_flow where whichUnit = #{whichUnit} and status = #{status}
	</select>
	
	<!-- 根据floeId查找订单 -->
	<select id="selectOrderByflowId" resultType="com.myapp.demo.Entiy.FlowBookOrder">
		select * from book_flow where flowId = #{flowId}
	</select>
	
	<!-- 单纯更新订单的状态（审核ing、ed、finished） -->
	<update id="flowStatusChange" parameterType="com.myapp.demo.Entiy.FlowBookOrder">
		update book_flow set 
		status = #{status}
		where flowId = #{flowId}
	</update>
	
	<!-- 查询单位不为whichUnit的订单 -->
	<select id="selectOrdersFromOtherUnits" resultType="com.myapp.demo.Entiy.FlowBookOrder">
		select * from book_flow where whichUnit != #{whichUnit} and status = #{status}
	</select>
	
	<!-- 按年统计本单位流入图书的数量 --> <!-- 柱状图 --> <!-- 状态必须是已结束或者已流出 -->
	<select id="countInBooksByYears" resultType="Integer">
		select count(*) from book_flow 
			where 
				whichUnit = #{whichUnit}
	        	and (status = '已流出'  or status = '已结束')
	        	AND YEAR(outTime) = #{year}
	</select>
	<!-- 按月统计本单位流入图书的数量 --> <!-- 折线图 -->
	<select id="countInBooksByMonths" resultType="map">
		select
	        MONTH(outTime) as month,
	        count(*) as count
	    from book_flow
	    where
	        whichUnit = #{whichUnit}
	        and (book_flow.status = '已流出'  or book_flow.status = '已结束')
	        AND YEAR(outTime) = #{year}
	    group by MONTH(outTime)
	    order by month
	</select>
	
	<!-- 按年统计本单位流出图书的数量 --> <!-- 柱状图 --> <!-- 状态必须是已完成或者已流出,待审核和已拒绝说明没流出 -->
	<select id="countOutBooksByYears" resultType="Integer">
		select count(*) from book_flow 
		inner join book_info on book_flow.bookId = book_info.bookId
		where 
			book_info.whichUnit = #{whichUnit} 
			and (book_flow.status = "已流出"  or book_flow.status = "已结束")
			and YEAR(book_flow.outTime) = #{year} 
	</select>
	<!-- 按月统计本单位流出图书的数量 --> <!-- 折线图 -->
	<select id="countOutBooksByMonths" resultType="map">
		select
	        MONTH(book_flow.outTime) as month,
	        count(*) as count
	    from book_flow
	    inner join book_info on book_flow.bookId = book_info.bookId
	    where
	        book_info.whichUnit = #{whichUnit}
	        and (book_flow.status = '已流出'  or book_flow.status = '已结束')
	        AND YEAR(book_flow.outTime) = #{year}
	    group by MONTH(book_flow.outTime)
	    order by month
	</select>
	
</mapper>