<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.demo.Dao.GenusfamilyDao">

<!--    插入科名属名-->
    <insert id="insertGenusfamily" parameterType="com.myapp.demo.Entiy.Genusfamily">
        insert into genusfamily(genus, family) values( #{genus}, (#{family}) )
    </insert>

<!--    查询科名-->
    <select id="selectGenusfamily" resultType="com.myapp.demo.Entiy.Genusfamily">
        select * from genusfamily where family=#{family}
    </select>
</mapper>


