<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.demo.Dao.PlantDao">

    <select id="getAllSpecies" resultType="String">
        select speciesName from speciesd
    </select>
    <!-- admin添加一株植物 -->
    <insert id="adminInsertPlant" useGeneratedKeys="true" keyProperty="plantId">
        insert into plant (plantId,plantName,feature,cultivation,value,number)
        values(#{plantId},#{plantName},#{feature},#{cultivation},#{value},#{number})
    </insert>
    <!--admin插入植物的同时要插入图片-->
    <insert id="adminInsertPlantPhoto">
        insert into photo (photoId,plantId,photoPath,photoPlace,photoDescribe,photographer)
        values(#{photoId},#{plantId},#{photoPath},#{photoPlace},#{photoDescribe},#{photographer})
    </insert>

    <!--通过plantId查找植物图片-->
    <select id="selectPhotoByPlantId" resultType="com.myapp.demo.Entiy.Photo" >
        select * from photoInfo where plantId = #{plantId}
    </select>

    <!--通过plantId查找植物-->
    <select id="selectPlantByPlantId" resultType="com.myapp.demo.Entiy.Plant" >
        select * from plant where plantId = #{plantId}
    </select>

    <!--通过plantId查找植物的基本信息（基本信息视图）-->
    <select id="selectPlantInfoByPlantId" resultType="com.myapp.demo.Entiy.Plant" >
        select * from plantInfo where plantId = #{plantId}
    </select>

    <!-- 查找所有植物 -->
    <select id="selectAllPlants" resultType="com.myapp.demo.Entiy.Plant" >
        select * from plant
    </select>

    <!--根据种名查找一种植物的所有株-->
    <select id="selectPlantsByPlantName" resultType="com.myapp.demo.Entiy.Plant" >
        select * from plant where plantName = #{plantName}
    </select>

    <!--分组查询所有种类的植物-->
    <select id="selectPlantsByGroup" resultType="com.myapp.demo.Entiy.Plant" >
        SELECT MIN(plantId) as plantId, plantName,
        Min(feature) as feature, Min(cultivation) as cultivation,
        Min(`value`) as `value`, Min(number) as number
        FROM plant
        GROUP BY plantName;
    </select>

    <!--根据种名查找一种植物有多少株-->
    <select id="countOnePlant" resultType="Integer" >
        select count(*) from plant where plantName = #{plantName}
    </select>

    <!--修改植物基础信息-->
    <update id="modifyPlantInfo">
        update plant set feature = #{feature}, cultivation = #{cultivation}, value = #{value}
        where plantId = #{plantId}
    </update>

    <!--修改植物的图片-->
    <update id="modifyPlantPhoto">
        update photo set photoPath = #{photoPath}, photoPlace = #{photoPlace},
            photoDescribe = #{photoDescribe}, photographer = #{photographer}
        where photoId = #{photoId}
    </update>

    <!-- 根据植物名模糊查找一种植物 -->
    <select id="LikeSearchPlantByName" resultType="com.myapp.demo.Entiy.Plant">
        SELECT MIN(plantId) as plantId, plantName,
        Min(feature) as feature, Min(cultivation) as cultivation,
        Min(`value`) as `value`, Min(number) as number
        FROM plant
        where plantName like '%${plantName}%'
        GROUP BY plantName
    </select>

    <!--根据植物Id删除植物-->
    <delete id="deletePlantById">
        delete from plant where plantId = #{plantId}
    </delete>

</mapper>