<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.demo.Dao.SpeciesAreaDao">

<!--    插入种名地区-->
    <insert id="insertSpeciesArea" parameterType="com.myapp.demo.Entiy.SpeciesArea">
        insert into speciesarea(speciesId, areaId) values(#{speciesId}, (#{areaId}))
    </insert>

<!--    查询种名-->
    <select id="selectSpeciesArea" resultType="com.myapp.demo.Entiy.SpeciesArea">
        select * from speciesarea where speciesId=#{speciesId}
    </select>

<!--    查询地区-->
    <select id="selectArea" resultType="com.myapp.demo.Entiy.SpeciesArea">
        select * from speciesarea where areaId=#{areaId}
    </select>
</mapper>


