<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.demo.Dao.UnitDao">
	<!-- 查找所有用户 -->
	<select id="selectAllUnits" resultType="com.myapp.demo.Entiy.Unit" >
		select * from unit
	</select>
	
	<!-- 根据单位Id查找单位 -->
	<select id="selectUnitById" resultType="com.myapp.demo.Entiy.Unit">
		select * from unit where unitId = #{unitId}
	</select>
	
	<!-- 根据单位名称查找单位 -->
	<select id="selectUnitByUnitName" resultType="com.myapp.demo.Entiy.Unit">
		select * from unit where unitName = #{unitName}
	</select>
	
	<!-- 模糊匹配单位名称进行查找 -->
	<select id="searchUnit" resultType="com.myapp.demo.Entiy.Unit">
		select * from unit where unitName like '%${unitName}%'
	</select>
	
	<!-- 更改单位信息 -->
	<update id="adminModifyUnitDetailsById" parameterType="com.myapp.demo.Entiy.Unit">
		update unit set
		unitName = #{unitName},contact = #{contact},telephone = #{telephone},
			email = #{email},address = #{address},unitType = #{unitType}
		where unitId = #{unitId}
	</update>
	
	<!-- 根据单位Id删除一个单位-->
	<delete id="deleteUnit">
        delete from unit where unitId = #{unitId}
    </delete>
    
    <!-- 添加一个单位 -->
	<insert id="adminInsertUnit" useGeneratedKeys="true" keyProperty="unitId"> 
		insert into unit(unitId,unitName,contact,telephone,email,address,unitType)
			values(#{unitId},#{unitName},#{contact},#{telephone},#{email},#{address},#{unitType})
	</insert>
</mapper>







