@charset "UTF-8";
body {
    font-family: 'Source Sans Pro', sans-serif;
}
.el-header, .el-aside {
    background-color: #333744;
    color: #ffffff;
    text-align: left;
    line-height: 60px;
}

.el-aside {
    background-color: #1F2D3D;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    border-right: 0 solid #eef1f6;
}

.brand {
    font-size: 25px;
    padding-left: 12px;
}

.user-info {
    float: right;
    padding-right: 20px;
    font-size: 20px;
    color: #F2F5F7;
    text-decoration: none;
}

.el-menu-item, .el-submenu__title {
    color: #BCC1C7 !important;
}

.el-menu-item.is-active, .el-menu-item:hover, .el-submenu__title.is-active, .el-submenu__title:hover {
    color: #409EFF !important;
}

.el-main {
    background-color: #E9EEF3;
    color: #333744;
    padding: 30px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

/* 内容区域样式 */
.content-wrapper{
    background: white;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

.logout {
    float: right; /* 让按钮靠右浮动 */
    margin-right: 20px; /* 向右侧留出一些空间 */
}

.submitbuttom{
    background-color: #1F2D3D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    width:100px;
}