@charset "UTF-8";
	body {
        font-family: Arial, sans-serif;
    }
    .table-style {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }
    .table-style th,
    .table-style td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    .table-style th {
        background-color: #f2f2f2;
        color: #333;
    }
     .action-button {
        text-decoration: none;
        color: white;
        padding: 3px 3px;
        margin: 2px;
        display: inline-block;
        border: none;
        cursor: pointer;
        outline: none;
        font-family: Arial, sans-serif;
        border-radius: 10px 30px;
    }
    .detail-button { background-color: #3498db;width: 45px; height: 25px; font-size:15px;}
    .edit-button { background-color: #f1c40f; width: 45px; height: 25px; font-size:15px;}
    .delete-button { background-color: #e74c3c; width: 55px; height: 30px; font-size:15px;}
    
    .delete-button:hover{ cursor: pointer; cursor: hand; }
    
    
    
    